/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html {
    font-size: 20px;
}
.main {
    display:flex;
    flex-direction: column;
    width: 25rem;
    margin: 16px auto;
    gap: 16px;
}
.header {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.title {
    font-size: 2rem;
}
.subtitle {
    font-size: 0.9rem;
}
.question-btns {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
}
.wrapper button {
    flex: 1;
    text-align: left;
    padding: 8px 0 8px 8px;
    border-color: transparent;
    border-radius: 8px;
    background-color: black;
    color: white;
    font-size: 16px;
}

.arrow {
    position: absolute;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid white; /* hướng xuống */
    right: 10px;
    bottom: 14px;
}
.content {
    border: 2px solid black;
    border-radius: 8px;
    box-sizing: border-box;
    
    overflow: hidden;
    padding: 0 10px;
    opacity: 0;
    max-height: 0px;
    transition: max-height 0.5s ease, padding 260ms ease, opacity 200ms ease;
}
.content.active {
    max-height: 10rem;
    padding-top: 10px;
    padding-bottom: 10px;
    opacity: 1;
}
.btn:hover {
    opacity: 0.7;
}
.btn.active + .arrow {
    transform: rotate(180deg);
    transition: transform 250ms ease;
}